.js-toggle-login-modal svg {
  position: relative;
  top: 3px;
  margin-inline-start: 3px;
}
.js-toggle-login-modal svg * {
  stroke: var(--main-text);
}

.password-input-group {
  max-width: 425px;
  margin: 70px auto 35px;
}
.password-input-group > input {
  width: 100%;
  margin-bottom: 0;
}
.password-input-group .button {
  margin-top: 20px;
}

.login-modal {
  text-align: center;
}

.password-footer {
  text-align: center;
  padding-bottom: 40px;
  opacity: 0.36;
  margin-top: 24px;
}

.template-password .basicLightbox__placeholder {
  opacity: 1;
  padding: 40px;
  background: var(--main-background);
}
.template-password .basicLightboxCloseWithIcon {
  top: 15px;
}
html[dir=rtl] .template-password .basicLightboxCloseWithIcon {
  left: 15px;
}
html[dir=ltr] .template-password .basicLightboxCloseWithIcon {
  right: 15px;
}
.template-password .cart-functions, .template-password .quick-add-to-cart {
  display: none !important;
}
@media screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait) {
  .template-password .site-header {
    flex-direction: column;
  }
}

.password-form-heading a {
  border-bottom: 1px solid;
}